<strong>Olá, {{ recipient }}</strong>
<p>Houve um cancelamento de encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Entregador: </strong> {{ deliveryman }} <br />
  <strong>data/hora:</strong> {{ canceled }} <br />
  <br />
  <small>
    Não responder esse email.
  </small>
</p>
